.qkfc-btn-node-text {
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qkfc-btn-node-body{
  padding: 0 1rem;
}
.qkfc-btn-node-option {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2.5rem;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
  border-left: 3px solid #E0E0E0;
  margin-top: 0.5rem;
  cursor: pointer;
  outline: 0;
}
.qkfc-btn-node-option:hover, .qkfc-btn-node-option:focus, .qkfc-btn-node-option:visited {
  outline: 0;
}

.qkfc-btn-node-option__title {
  // position: absolute;
  padding: 0.5rem;
  // transform: translate(0, 50%);
}

.qkfc-icon-right-arrow {
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #F2F2F2;
  border: 0;
  outline: 0;
  padding: 4px;
}

.qkfc-btn-option {
  cursor: pointer;
}


