.qkfc-container {
    height: 5000px;
    width: 5000px;
    background-color: transparent;
}

.qkfc-flow-chart-content {
    height: 800px;
    width: 2000px;
    background-color: #eeeeee;
}

.qkfc-flow-chart-link {
    z-index: 30;
}