.qkfc-container {
  position: absolute;
  left: 200px;
  margin: 0;
  overflow: auto;
  background-color: #dddddd;
  width: 1200px;
  height: 100%;
  position: absolute;

  svg {
    overflow: visible;
  }
}

.qkfc-link {
  z-index: 20;
  stroke: grey;
  opacity: 0.5;
}
.qkfc-link:hover {
  opacity: 1;
}

.qkfc-links-wrapper {
  width: 100%;
  height: 100%;

}

.qkfc-link-svg-group {
  cursor: pointer;
}
