.qkfc-node {
    border: 1px solid black;
    position: absolute;
    cursor: move;
}

.qkfc-node-port__child {
    position: absolute;
    z-index: 20;
    border-radius: 50%;
    background-color: red;
    width: 16px;
    height: 16px;
}

.qkfc-node-port__child--top {
    top: 0;
    left: 50%;
    transform: translate(-8px, -8px);
}

.qkfc-node-port__child--right {
    top: 50%;
    left: 100%;
    transform: translate(-8px, -8px);
}

.qkfc-node-port__child--bottom {
    top: 100%;
    left: 50%;
    transform: translate(-8px, -8px);
}

.qkfc-node-port__child--left {
    top: 50%;
    left: 0;
    transform: translate(-8px, -8px);
}