.qkfc-node {
  position: absolute;
  cursor: move;
  border-radius: 5px;
  user-select: none;
  border-top: 2.5px solid grey;
}

.qkfc-node-header {
  background-color: #eeeeee;
  border-radius: inherit;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 5px;
  outline: none;
}
.qkfc-node-title {
  font-size: 1rem;
  flex-grow: 1;
}

.qkfc-node-btn-icon--delete {
  z-index: 20;
  width: 12px;
  height: 12px;
  // border-radius: 50%;
  fill: grey;
  border: none;
  cursor: pointer;
}
.qkfc-node-port {
  position: absolute;
  z-index: 30;
  border-radius: 50%;
}

.qkfc-node-port--top {
  top: 0;
  left: 50%;
}

.qkfc-node-port--right {
  top: 50%;
  left: 100%;
}

.qkfc-node-port--bottom {
  top: 100%;
  left: 50%;
}

.qkfc-node-port--left {
  top: 50%;
  left: 0;
}
