.qkfc-node {
  position: absolute;
  cursor: move;
  border: 1px solid black;
}

.qkfc-node-port {
  position: absolute;
  z-index: 20;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-8px, -8px);
}

.qkfc-node-port--top {
  top: 0;
  left: 50%;
}

.qkfc-node-port--right {
  top: 50%;
  left: 100%;
}

.qkfc-node-port--bottom {
  top: 100%;
  left: 50%;
}

.qkfc-node-port--left {
  top: 50%;
  left: 0;
}
